body{
    font-family: Arial,  sans-serif;
    background:linear-gradient(to top right, #4facfe,#00f2fe);
    color:#fff;
    text-align: center;
    padding:40px;

}

.Weather-container {
    max-width: 400px;
    margin:  auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
input{
    padding:10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 60%
}
button{
    padding:10px;
    background-color: #0099ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor:pointer;
}
button:hover{
    background-color: #007acc;
}
.result-box{
    margin-top: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}